.nav-extended {
    display: flex;
}

#navWidth {
    width: 100%;
    margin-left: 3%;
}

#navLogo {
    margin: 0.5%;
}

.brand-logo {
    padding-left: 22px !important;
}

#mySlider {
    margin-top: 1%;
    width: 90%;
    margin-left: 5%;
}

.indicator-item.active {
    background-color: #FF000D !important;
}

#homeContent {
    display: flex;
}

.homeWidth {
    width: 33.3%;
    height: 70%;
    border: 4px solid #F29599;
    border-radius: 10px;
    margin-top: 1%;
    margin-bottom: 1%;
}

.bloodDonor {
    margin-left: 1%;
}

.inspStories {
    margin-left: .5%;
    margin-right: .5%;
}

.upActivities {
    margin-right: 1%;
}

.logoWatermark {
    background: url("../images/250x250.png");
    height: 400px;
    background-repeat: no-repeat;
    background-position: center;
    font-weight: 800;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

#feedback {
    width: 50%;
    margin-top: 2%;
}

#feedbackBtn {
    margin-left: 8%;
}

#inquiry {
    width: 50%;
    margin-top: 2%;
}

#inquiryBtn {
    margin-left: 8%;
}

#contactDetails {
    margin: 3%;
    margin-left: 10%;
}

.aboutUsContent {
    width: 50%;
    margin-left: 10%;
    margin-top: 3%;
}

#aboutUs {
    display: flex;
}

#aboutUsImg {
    width: 400px;
    height: 400px;
}

iframe {
    float: right;
}

.modal {
    width: 31%;
    max-height: 74%;
    background-color: #E9E9E9;
    overflow-y: hidden;
}

span#modalFoot {
    float: right;
}

#loginAlign {
    text-align: center;
}

#userProfile {
    border-radius: 100%;
    width: 150px;
    height: 150px;
}

#profile {
    text-align: center;
}

#faqColor {
    background-color: #E73D43;
}

.iconColor {
    color: #fff;
}

.bloodIcon {
    width: inherit;
    height: 28px;
}