#saveBtn {
    padding-top: 5%;
}

#profilePic {
    background-color: lightblue;
    font-size: 3em;
    border-radius: 100%;
    width: 50px;
    height: 50px;
    text-align: center;
    display: block;
}

.reg-dimension {
    width: 90%;
    margin-left: 0% !important;
}

.inputHeight {
    height: 2rem !important;
}

.firstCol {
    width: 150px !important;
}

body {
    background-color: #FDF7E1;
}
.success-message,
.error-message {
    padding: 20px;
    border-radius: 3px;
    margin: auto;
    margin-top: 1%;
    font-weight: 700;
    padding: 0 20px;
    line-height: 56px;
    height: 60px;
    font-size: 15px;
    width: 50%;
}

.success-message {
    color: #359a4d;
    border: 2px solid #9adaa9;
    background-color: #d1eed8;
}

.error-message {
    color: #7E2C2F;
    border: 2px solid #B47B7D;
    background-color: #DFC6C7;
}
#requiredMessage{
	color: red;
}
#passwordError{
    color: red;
}

/*For Desktop*/

@media screen and (min-width: 993px) {
    main {
        margin-left: 340px;
    }
    .navWidth {
        padding-left: 340px;
    }
    #mainContent {
        width: 50%;
        margin-top: 2%;
        margin-left: 0% !important;
    }
    .table-width {
        width: 70%;
    }
    .hide1 {
        display: none;
    }
    .dash-border {
        width: 30%;
        height: 30%;
        margin: 3%;
        text-align: center;
        background: #84DCCF;
        color: #ffffff;
    }
    .dashBoardHead {
        font-size: 1.7em;
    }
    .dashBoardValue {
        font-size: 6em;
    }
    .dashboard-desktop {
        display: flex;
    }
    .dashboard-mobile {
        display: none;
    }
    .largeTable {
        margin-left: 320px;
        margin-right: 20px;
    }
}


/* For Tablet */

@media screen and (min-device-width: 481px) and (max-device-width: 992px) {
    main {
        margin-left: 15%;
    }
    .table-width {
        width: 85%;
    }
}


/* For Mobile */

@media only screen and (max-device-width: 480px) {
    main {
        margin-left: 2%;
    }
    .dashboard-desktop {
        display: none;
    }
    .dashboard-mobile {
        display: flex;
    }
    .dash-border {
        height: 200px;
        max-width: 200px;
        width: 50%;
        margin: auto;
        text-align: center;
    }
    .dashBoardHead {
        font-size: 1.7em;
        height: 50px;
    }
    .dashBoardValue {
        font-size: 4em;
    }
}

.navFlex {
    display: flex;
    margin-left: 10%;
}

input.select-dropdown {
    height: 2rem !important;
}

textarea.inputHeight {
    min-height: 2rem !important;
}