body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-color: #FDF7E1;
}

main {
    flex: 1 0 auto;
}

.nav-extended {
    display: flex;
}

.brand-logo {
    padding-left: 22px !important;
}

#userProfile {
    border-radius: 100%;
    width: 150px;
    height: 150px;
}

.indicator-item.active {
    background-color: #FF000D !important;
}

.activity-head {
    background: #C68166;
    font-size: 1.5em;
    color: white;
}

.donor-head {
    background: #D8BB7F;
    font-size: 1.5em;
    color: white;
}

.story-head {
    background: #F7E8A0;
    font-size: 1.5em;
    color: white;
}

#feedback {
    width: 50%;
    margin-top: 2%;
}

#feedbackBtn {
    margin-left: 8%;
}

#inquiryBtn {
    margin-left: 8%;
}

#contactDetails {
    margin: 3%;
    margin-left: 10%;
}

.aboutUsContent {
    width: 50%;
    margin-left: 10%;
    margin-top: 3%;
}

#aboutUs {
    display: flex;
}

#aboutUsImg {
    width: 400px;
    height: 400px;
}

iframe {
    float: right;
}

#faqColor {
    background-color: #E73D43;
}

.iconColor {
    color: #fff;
}

.bloodIcon {
    width: inherit;
    height: 28px;
}

span a {
    color: #039be5 !important;
}


/*For Desktop*/

@media screen and (min-width: 769px) {
    #navWidth {
        width: 100%;
        margin-left: 3%;
    }
    .modal {
        width: 31%;
        max-height: 70%;
        overflow-y: hidden;
        background-color: #E9E9E9;
        color: #000;
    }
    #homeContent {
        display: flex;
    }
    .slider-width {
        display: flex;
    }
    #mySlider {
        margin-top: 1%;
        width: 70%;
        margin-left: 3%;
    }
    .story-content {
        margin-left: 3%;
        width: 50%;
        height: 40%;
        border: 4px solid #F9EEB9;
        border-radius: 10px;
        margin-top: 1%;
        margin-bottom: 1%;
    }
    .donor-content {
        margin-left: 2%;
        margin-right: 3%;
        width: 50%;
        height: 40%;
        border: 4px solid #E9D9B9;
        border-radius: 10px;
        margin-top: 1%;
        margin-bottom: 1%;
    }
    .activity-content {
        margin: 1%;
        border: 4px solid #DEB7A7;
        border-radius: 10px;
        height: 60%;
        width: 30%;
        margin-right: 3%;
    }
    #inquiry {
        width: 50%;
        margin-top: 2%;
    }
    .faq-dimensions {
        margin-left: 15%;
        margin-right: 15%;
    }
}


/*For Tablet*/

@media screen and (min-device-width: 481px) and (max-device-width: 768px) {
    #navWidth {
        width: 15%;
        margin-left: 3%;
    }
    .story-content {
        margin-left: 2%;
        width: 100%;
        height: 40%;
        border: 4px solid #F9EEB9;
        border-radius: 10px;
        margin-top: 1%;
        margin-bottom: 1%;
    }
    .donor-content {
        margin-left: 2%;
        margin-right: 2%;
        width: 100%;
        height: 40%;
        border: 4px solid #E9D9B9;
        border-radius: 10px;
        margin-top: 1%;
        margin-bottom: 1%;
    }
    .activity-content {
        margin: 1%;
        border: 4px solid #DEB7A7;
        border-radius: 10px;
        height: 60%;
        width: 100%;
        margin-right: 3%;
    }
}


/*For Mobile*/

@media only screen and (max-device-width: 480px) {
    #navWidth {
        width: 15%;
        margin-left: 3%;
    }
    .story-content {
        border: 4px solid #F9EEB9;
        border-radius: 10px;
    }
    .donor-content {
        border: 4px solid #E9D9B9;
        border-radius: 10px;
    }
    .activity-content {
        border: 4px solid #DEB7A7;
        border-radius: 10px;
    }
    .story-content,
    .donor-content,
    .activity-content {
        width: 98%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 4%;
        height: 50%;
    }
}

.placeColor ::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: #8B8B8B;
}

.placeColor ::-moz-placeholder {
    /* Firefox 19+ */
    color: #8B8B8B;
}

.placeColor :-ms-input-placeholder {
    /* IE 10+ */
    color: #8B8B8B;
}

.placeColor :-moz-placeholder {
    /* Firefox 18- */
    color: #8B8B8B;
}

marquee {
    height: 85%;
}

#errorMessage,
#passwordError,
#errorMessage1 {
    color: red;
}

.success-message,
.error-message {
    padding: 15px;
    border-radius: 3px;
    margin: auto;
    margin-top: 1%;
    font-weight: 700;
    min-height: 60px;
    font-size: 15px;
    width: 50%;
}

.success-message {
    color: #359a4d;
    border: 2px solid #9adaa9;
    background-color: #d1eed8;
}

.error-message {
	color: #F55448;
    border: 2px solid #F8877F;
    background-color: #FCCBC8;
}

.left-bg {
    height: 100vh;
    width: 100%;
    background: #EE6E73;
}

.sign-in {
    overflow-y: hidden;
}


/* sign in page css */

.left-bg-signin {
    background: #c62828;
    height: 90.3%;
    color: #fff;
}

.head-left {
    display: flex;
    height: 100px;
    margin: 2%;
    margin-left: 8%;
}

.row {
    margin-bottom: 0% !important;
}

.right-bg {
    background: #263238;
    height: 90.3%;
}

.sign-in-panel,
.forgot-password-panel {
    width: 70%;
    margin: auto;
    background: #263238;
    margin-top: 30%;
}

.register-btn {
    background: #263238;
}

.register-btn:hover {
    background: #E73D43;
}

.head-message {
    font-size: 1.6em;
    padding-top: 3%;
    padding-bottom: 3%;
}

.head-margin {
    margin: 1%;
}

.submit-button {
    padding-top: 4%;
}

.submit-btn {
    background: #fff;
    color: #263238;
}

.submit-btn:hover {
    background: #263238;
    color: #fff;
}

.left-content {
    margin-top: 15%;
    margin-left: 8%;
    margin-right: 8%;
}

.content-weight {
    color: #fff;
    font-weight: 300;
}

.left-content-head {
    font-size: 2em;
    font-weight: 400 !important;
    color: #fff;
}

.left-content-subhead {
    font-size: 1.2em;
}

nav,
footer {
    background: #E73D43 !important;
}

.sign-in-nav li:hover {
    background: #c62828;
}

.login-content {
    color: #FFF;
}

.forgot-link {
    color: #039be5;
}


/* sign in page css ends */