#saveBtn {
    padding-top: 5%;
}

#profilePic {
    background-color: lightblue;
    font-size: 3em;
    border-radius: 100%;
    width: 50px;
    height: 50px;
    text-align: center;
    display: block;
}

.inputHeight {
    height: 2rem !important;
}

.firstCol {
    width: 150px !important;
}

body {
    background-color: #FDF7E1;
}

@media screen and (min-width: 769px) {
    main {
        margin-left: 30%;
    }
    .navWidth {
        padding-left: 15%;
    }
    #imgAlign {
        margin-left: 10%;
    }
    #mainContent {
        width: 50%;
        margin-top: 2%;
        margin-left: 0% !important;
    }
    .reg-dimension {
        width: 80%;
        margin-left: 0% !important;
    }
    .table-width {
        width: 70%;
    }
    .hide1 {
        display: none;
    }
    .largeTable {
        margin-left: 25%;
        margin-right: 5%;
    }
}

@media screen and (min-device-width: 481px) and (max-device-width: 768px) {
    main {
        margin-left: 15%;
    }
    .table-width {
        width: 85%;
    }
}

@media only screen and (max-device-width: 480px) {
    main {
        margin-left: 2%;
    }
}

.navFlex {
    display: flex;
    margin-left: 10%;
}

.bloodIcon {
    width: inherit;
    height: 28px;
}

.modal {
    width: 31%;
    max-height: 74%;
}